body{
	min-height: 100vh;
}

a {
	text-decoration: none;
}

.show{
	display: block;
}

.hide{
	display: none;
}

#react-container>div {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/*Mobile header styles*/
.main {
	margin-top: 20%;
}
.main-page-content { 
	flex: 1;
	margin-bottom: 3em;
}

/*HEADER*/
/*+++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++*/

#mobile-menu-button {
	display: block;
	position: fixed;
	top: 0;
	right: 4%;
	z-index: 2;
	background: white;
	margin: 2rem;
}

.main-header {
	display: flex;
	flex-direction: column;
	margin-bottom: 5%;
	width: 100%;
	transition: all 0.3s;
	visibility: hidden;
	width: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
	background: rgba(0,0,0,0.85);
	height: 100%;
	font-size: 3rem;
	text-align: center;
	opacity: 0;
}

#hamburger div {
	background: black;
	height: 5px;
	width: 20px;
	margin: 3px;
}

.brand-logo {
	display: flex;
	flex-direction: column;
	width: auto;
	height: auto;
	margin-top: 8rem;
}

.brand-logo a {
	padding: 0.4em;
	margin: 0;
}

.navigation-links {
	height: 20%;
	white-space: nowrap;
}

.navigation-links ul {
	display: flex;
	flex-direction: column;
}

.navigation-links ul li {
	margin-top: 0;
	padding: 0.5em;
}

.navigation-link {
	width: auto;
	color: white;
	display: block;
	text-decoration: none;
	margin: 0;
}

.navigation-link>a {
	color:white;
	display: block;
	text-decoration: none;
}

.navigation-link:hover {
	background: rgba(0,0,0,0.75);
	color: white;
} 

.main-header #notifications-icon {
	padding-left: .4em;
}

.main-header #notifications-number{
	position: relative;
	bottom: 1em;
	right: 0.7em;
	z-index: 2;
	border-radius: 50%;
	padding: 0 0.3em;
	font-size: 0.6em;
	background: #fa3e3e;
	color:white;
}

header #notifications {
	position: fixed;
	top: 40%;
	left:5%;
	width: auto;
	padding: 1em;
	z-index: 5;
	background: #fff;
	border: 1px solid #fa3e3e;
	border-radius: 5%;
}

header #notifications ul li {
	margin: 1em;
	margin-top: 3em;
	list-style-type: none;
}

#notifications .btn-close {
	position: absolute;
	right: 1em;
}


/*FRONT PAGE*/
/*+++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++*/

#front-page-title {
	background: url('../images/front-page-pic.jpg') no-repeat center center fixed;
}


.show {
	visibility: visible;
	width: 60%;
	opacity: 1;
}

/*infinite scroll - AllPosts page*/
div.redux-infinite-scroll {
  height:auto !important;
}

/*sortFilter component*/
.selected-sort{
	background: yellow;
}

.own-comment {
	border-left: 6px solid rgb(98, 128, 175);
}

/*Desktop header styles*/

@media (min-width: 600px) {
	#mobile-menu-button {
		display: none;
	}

	.main {
		margin: 0;	
	}

	.main-header {
		visibility: visible;
		position: relative;
		width: 100%;
		opacity: 1;
		height: auto;
		flex-direction: row;
		align-items: center;
	}

	.brand-logo {
		flex-direction: row;
		height: auto;
		width: 100%;
		margin: 0;
		margin-left: 2em;
	}

	.brand-logo a {
		flex-direction: row;
		height: auto;
		width: auto;
	}

	.navigation-links {
		height: auto;
		width: 100%;
		align-items: center;
	}

	.navigation-links ul {
		display: flex;
		flex-direction: row;
		align-items:center;
		justify-content: flex-end;
		margin: 0;
		margin-right: 2em;
	}

	.main-header .navigation-link {
		font-size: 0.7em;
	}

}
	.main-header i.fa.fa-bell {
		position: relative;
		bottom: .2em;
	}

	.main-header #notifications-icon {
		padding-top: .4em;
	}

	header #notifications {
		position: fixed;
		top: 10%;
		left: 5%;
	}


	footer.main-footer {
		width: 100%;
		background: #656565;
		color: white;
		text-align: center;
		padding: 15px 0;
	}
}

@media (min-width: 770px) {
	.main-header .navigation-link {
		font-size: 0.9em;
	}
}


/*ALL POSTS PAGE*/
/*+++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++*/


.allposts-categories {
	position: relative;
}


.category-select {
	display: none;
	position: absolute;
	top:4rem;
	left:0;
	background: white;
	z-index: 1;
	border: 1px solid rgba(0,0,0,0.2);
	max-height: 300px;
	overflow-y: scroll;
	width: 55%;
}

.visible-select {
	display: block;
}

.category-checkbox {
	display: block;
	border-bottom: 2px solid rgba(0,0,0,0.2);
}

	.category-checkbox:hover {
		background: rgba(0,0,0,0.1);
	}

.checkbox-group-categories {
	margin-top: 3rem;
}

.filter-search {
	margin-left: 0;
}

.allposts-post {
	margin-top: 2rem;
	width: 45%;
}

.allposts-post img {
	max-width: 100%;
}


.redux-infinite-scroll {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.allposts-post:nth-child(even) {
	margin-left: 5%;
}

@media(max-width: 600px) {
	.allposts-post {
		width: 100%;
		margin-left: 0!important;
	}

}

/*EXGENDED POST PAGE*/
/*-+-+-+-+-+-+-+-+-+-+-*/
/*-+-+-+-+-+-+-+-+-+-+-*/
/*-+-+-+-+-+-+-+-+-+-+-*/
/*-+-+-+-+-+-+-+-+-+-+-*/

.extended-post img{
	max-width: 100%;
}

.main-page-content {
	padding: 2.5%;
}

.extended-post-comment {
	background: rgba(0,0,0,0.08);
	border-radius: 7px;
}

.replies-1,.replies-2 ,.replies-3,.replies-4,.replies-5, .replies-6, .replies-7 {
	margin-left: 4%;
}

.comment-content{
	padding-bottom: 2%;
}

.whole-comment {
	padding: 1.5%;
}

.add-comment-form textarea {
	width: 20em;
	height: 10em;
}

.post-content {
	padding: 1%;
	background: rgba(0,0,255,0.1);
}

.related-posts {
	display: flex;
	flex-wrap: wrap;
}

.related-posts > div {
	width: 22%;
	overflow: hidden;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 2%;
	margin: 1%;
}

@media (max-width: 600px) {
	.related-posts > div {
		width: 43%;
	}
}


/*EXGENDED POST PAGE*/
/*-+-+-+-+-+-+-+-+-+-+-*/
/*-+-+-+-+-+-+-+-+-+-+-*/
/*-+-+-+-+-+-+-+-+-+-+-*/
/*-+-+-+-+-+-+-+-+-+-+-*/


/*USER PAGE*/
/*+++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++*/


#user-info .profile-pic {
	max-width: 100%;
}

/*================================*/
/*Loader animation*/
/*================================*/
@keyframes spin {
  0% {transform: rotate(0deg) scale(1); }
  50% {transform:rotate(180deg) scale(1.3);}
  100% {transform: rotate(360deg) scale(1); }
}